<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Empire</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header class="header" id="header">
<container class="navbar">
    <div class="navbarHome">
        <img src="../public/Images/sand-castle.svg" alt="Castle" class="mainLogo" width="40" height="70">
        <h1 class="navbarTitle">Coding Empire Conference</h1>
    </div>
    <div class="navbarSelection">
        <p class="events">Past Events</p>
        <p class="upcoming">Upcoming</p>
        <p class="questions">Ask a Question</p>
        <p class="signup">Sign Up/Login</p>
    </div>
</container>
    </header>
    <main class="main" id="main">
        <h1>My<br>Name<br>Is<br>Davis</h1>
    </main>
    <footer class="footer" id="footer">
        <container class="footerNavbar">
            <div class="navbarHome">
                <img src="../public/Images/sand-castle.svg" alt="Castle" class="mainLogo" width="40" height="70">
                <h1 class="navbarTitle">Coding Empire Conference</h1>
            </div>
        </container>
    </footer>
</body>
</html>