
<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<div class="row justify-content-center">
    <div class="login-card">
        <h2 class="card-header text-center">Sign-Up</h2>
        <form class="form signup-form container-fluid">
          <div class="form-group">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <label >name</label>
                            <input type="name" class="form-control" id="name-signup" placeholder="Enter name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <label >email</label>
                            <input type="email" class="form-control" id="email-signup" placeholder="Enter email">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="password-signup" placeholder="Password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="width: 30%">
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-dark" id="signup-btn">Sign-Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/js/login.js"></script>


