@font-face {
    font-family: EvilEmpire;
    src: url(/Fonts/Evil_Empire.otf);
}
@font-face {
    font-family: Merriweather;
    src: url(/Fonts/MerriweatherSans-Regular.ttf);
}

h2{
    margin: 0%;
}

body{
    margin: 0;
    background-color: #E5BA73 ;
    /* padding: 10px;
    padding-left: 25px;
    padding-right: 25px; */
}



/*------------NavBar/Header------------*/

.navbar{
    padding: 0%;
    text-align: center;
    background-color: #FAF8F1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 25px;
    padding-right: 25px;

}

.navbarHome{
    display: flex;
    text-align: center;
    padding-right: 50px;
}

.mainLogo{
    padding-right: 10px;
}

.navbarTitle{
    font-family: EvilEmpire;  
    font-size: 40px;
    margin: 0%;
    padding-top: 20px;
    text-align: center;
}

.navbarSelection{
    display: grid;
    grid-template-columns: auto auto auto;
}

.navbarSelection p{
    padding: 10px;
    text-align: center;
    font-family: EvilEmpire; 
    font-size: 20px;
    color: black;
}

a{
    text-decoration: none;
}

.events:hover{
    background-color: #C58940;
    color: #FAF8F1;
    border-radius: 50px;
}

.upcoming:hover{
    background-color: #C58940;
    color: #FAF8F1;
    border-radius: 50px;
}

.questions:hover{
    background-color: #C58940;
    color: #FAF8F1;
    border-radius: 50px;
}

.signup:hover{
    background-color: #C58940;
    color: #FAF8F1;
    border-radius: 50px;
}



/*<-----------Main------------> */

main{
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

.postingArea{
    background-color: #FAEAB1;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.postTitle{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    font-family: evilEmpire;
    border-bottom: solid;
}

.postQuestion p{ 
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Merriweather;
    font-size: 20px;
}

.postAnswers{
    padding-bottom: 20px;
}

.answersTitle{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    font-family: evilEmpire;
    border-bottom: dashed;
}

/*<-----------Login------------> */

.loginInput input{
    font-size: 20px;
    border-radius: 50px;
    background-color: #FAEAB1;
    font-family: Merriweather;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
}
.passwordInput input{
    font-size: 20px;
    border-radius: 50px;
    background-color: #FAEAB1;
    font-family: Merriweather;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}

.loginSubmit{
    font-size: 20px;
    border-radius: 50px;
    background-color: #FAEAB1;
    font-family: evilEmpire;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}

.loginSubmit:hover{
    background-color: #C58940;
    color: #FAF8F1;
}

.accountCreation{
    font-size: 20px;
    border-radius: 50px;
    background-color: #FAEAB1;
    font-family: evilEmpire;
    text-align: center;
    color: black;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
    border: none;
}

.accountCreation:hover{
    background-color: #C58940;
    color: #FAF8F1;
}

/*<-----------Footer------------> */
.footer{
    background-color: #FAF8F1;
    padding-left: 25px;
    padding-right: 25px;
}

.footerNavbar{
    display: grid;
    grid-template-rows: 2fr auto;
}

.upperFooter{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.footerBtn li{
    list-style-type: none;
    padding:10px;
    font-family: EvilEmpire; 
    font-size: 20px;
}

.footerBtn li:hover{
    background-color: #C58940;
    color: #FAF8F1;
    border-radius: 50px;
}

.lowerFooter{
    font-family: EvilEmpire; 
    text-align: center;
}
